body {
  background-color: rgb(243, 235, 228);
}
section {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 600px;
  height: fit-content;
  margin: auto;
  margin-top: 8%;
  border-radius: 10px;
}
section img {
  width: 300px;
  border-radius: 10px 0px 0px 10px;
}
.box {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  justify-content: space-evenly;
}
.box h2 {
  width: 200px;
  font-size: 30px;
  margin: 0;
}
.flex {
  display: flex;
  gap: 20px;
  margin: 0;
  align-items: center;
}
.flex B {
  font-size: 40px;
  margin: 0;
  color: rgb(61, 129, 106);
}
.flex del {
  color: rgb(174, 174, 175);
}
.box .p2 {
  width: 220px;
  margin: 0;
  color: rgb(174, 174, 175);
}
.p1 {
  letter-spacing: 5px;
  font-size: 14px;
  margin: 0;
  color: rgb(174, 174, 175);
}
button {
  margin: 0;
  padding: 10px;
  border: solid 1px rgb(61, 129, 106);
  background-color: rgb(61, 129, 106);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  transition: 1s;
  cursor: pointer;
}
button:hover {
  background-color: rgb(82, 175, 144);
}
